{% extends "base.html" %} 
{% block title %}Shorten Url{% endblock %} 

{% block content%}
  <div class="row center-align">
    <!-- title & shortened url -->
    <div class="card-panel pink lighten-5 col s12 m8 offset-m2 z-depth-2">
      <div class="row">
        <h4>Click to visit the page</h4>
        <a href="http://127.0.0.1:5000/{{ display_short_url }}" target="_blank">
          <h5 class="center-align pink-text text-darken-4">http://127.0.0.1:5000/{{ display_short_url }}</h5>
        </a>

        <!-- return home btn -->
        <div class="s6 center-align">
          <a href="http://127.0.0.1:5000/">
            <button class="btn-large pink darken-4 text-shadow center-align">
              Return Home
              <i class="material-icons right">home</i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
